<div class="main-container">
  <div class="content-container">
    <div class="content-area">

      <h2>Crossfiltering with Clarity and Plotly</h2>
      <p>
        This repo is a playground for crossfiltering a dataset interactively between datagrids in Clarity and plots in Plotly.  The data is from the Washington Post's database of <a href="https://github.com/washingtonpost/data-police-shootings">fatal police shootings</a>.
      </p>

      <div class="clr-row">
        <div class="clr-col-6" *ngIf="scatter.data" >
          <div class="card">
            <div class="card-block">
              <plotly-plot [data]="scatter.data" [layout]="scatter.layout" [config]="{modeBarButtonsToRemove: ['sendDataToCloud']}" (selected)="handleSelection($event)" (selecting)="handleSelecting($event)"></plotly-plot>
            </div>
          </div>
        </div>
        <div class="clr-col-6" *ngIf="histogram.data" >
          <div class="card">
            <div class="card-block">
              <plotly-plot [data]="histogram.data" [layout]="histogram.layout" [config]="{modeBarButtonsToRemove: ['sendDataToCloud']}"></plotly-plot>
            </div>
          </div>
        </div>
      </div>

      <div class="clr-row" *ngIf="!loading">
        <div class="clr-col-12">
          <clr-datagrid [(clrDgSelected)]="selected_data" [clrDgRowSelection]="true">
              <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
              <clr-dg-column [clrDgField]="'age'">Age</clr-dg-column>
              <clr-dg-column [clrDgField]="'date'">Date</clr-dg-column>
              <clr-dg-column [clrDgField]="'gender'">Gender</clr-dg-column>
              <clr-dg-column [clrDgField]="'race'">Race</clr-dg-column>
              <clr-dg-column [clrDgField]="'state'">State</clr-dg-column>
              <clr-dg-column [clrDgField]="'flee'">Fleeing</clr-dg-column>
              <clr-dg-column [clrDgField]="'armed'">Armed</clr-dg-column>
              <clr-dg-column [clrDgField]="'threat_level'">Threat level</clr-dg-column>

              <clr-dg-row *clrDgItems="let p of data" [clrDgItem]="p" [(clrDgSelected)]="p.selected">
                <clr-dg-cell>{{p.name}}</clr-dg-cell>
                <clr-dg-cell>{{p.age}}</clr-dg-cell>
                <clr-dg-cell>{{p.date}}</clr-dg-cell>
                <clr-dg-cell>{{p.gender}}</clr-dg-cell>
                <clr-dg-cell>{{p.race}}</clr-dg-cell>
                <clr-dg-cell>{{p.state}}</clr-dg-cell>
                <clr-dg-cell>{{p.flee}}</clr-dg-cell>
                <clr-dg-cell>{{p.armed}}</clr-dg-cell>
                <clr-dg-cell>{{p.threat_level}}</clr-dg-cell>
              </clr-dg-row>
              <clr-dg-footer>
                <clr-dg-pagination #pagination [clrDgPageSize]="10">
                  {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                  of {{pagination.totalItems}} items
                </clr-dg-pagination>
              </clr-dg-footer>
          </clr-datagrid>
        </div>
      </div>


    </div>
  </div>
</div>
